header{
	background: #5F9EA0;
	border:#2F4F4F;
}
header h1{
	text-align: center;
}
/*estilos de la tabla*/
table th {
	background-color:#5F9EA0 !important;
	color: white;
}
table>tbody>tr>td{
		vertical-align:middle !important;
}

/*alineacion de botones y cuadro de busqueda*/
.btn-group, .btn-group.vertical{
	position:absolute !important;
}
